**/target/
**/logs/
**/out/
**/sdklog/
/.idea/
**/.idea/
*.iml
**/*.iml
.classpath
.project
.settings/
/.classpath
/.project
/.settings/
**/.classpath
**/.project
**/.settings/
/taotao-codegen/src/com/taotao/
/taotao-manager/taotao-manager-web/src/main/resources/resource/
/taotao-codegen/generatorConfig.xml
